@font-face {
    font-family: 'basier_circleregular';
    src: url('../fonts/basiercircle-regular-webfont.eot');
    src: url('../fonts/basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/basiercircle-regular-webfont.woff2') format('woff2'),
    url('../fonts/basiercircle-regular-webfont.woff') format('woff'),
    url('../fonts/basiercircle-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InterUI-Medium';
    src: url('../fonts/InterUI-Medium.eot');
    src: url('../fonts/InterUI-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/InterUI-Medium.woff2') format('woff2'),
    url('../fonts/InterUI-Medium.woff') format('woff'),
    url('../fonts/InterUI-Medium.ttf') format('truetype'),
    url('../fonts/InterUI-Medium.svg#InterUI-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'InterUI-Regular';
    src: url('../fonts/InterUI-Regular.eot');
    src: url('../fonts/InterUI-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/InterUI-Regular.woff2') format('woff2'),
    url('../fonts/InterUI-Regular.woff') format('woff'),
    url('../fonts/InterUI-Regular.ttf') format('truetype'),
    url('../fonts/InterUI-Regular.svg#InterUI-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'InterUI-Bold';
    src: url('../fonts/InterUI-Bold.eot');
    src: url('../fonts/InterUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/InterUI-Bold.woff2') format('woff2'),
    url('../fonts/InterUI-Bold.woff') format('woff'),
    url('../fonts/InterUI-Bold.ttf') format('truetype'),
    url('../fonts/InterUI-Bold.svg#InterUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ottspot widget';
    src: url('../fonts/ottspot-widget.eot');
    src: url('../fonts/ottspot-widget.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ottspot-widget.woff') format('woff'),
    url('../fonts/ottspot-widget.ttf') format('truetype'),
    url('../fonts/ottspot-widget.svg#ottspot-widget') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-'] {
    vertical-align: middle;
}
[class*='icon-']:before{
    display: inline-block;
    font-family: 'ottspot widget';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}
.icon-tag:before {
    content:'\0041';
}
.icon-voicemail:before {
    content:'\0042';
}
.icon-transfer:before {
    content:'\0043';
}
.icon-settings:before {
    content:'\0044';
}
.icon-send:before {
    content:'\0045';
}
.icon-profile:before {
    content:'\0046';
}
.icon-play:before {
    content:'\0047';
}
.icon-outgoing-call:before {
    content:'\0048';
}
.icon-mute:before {
    content:'\0049';
}
.icon-incoming-call:before {
    content:'\004b';
}
.icon-incoming-call-solid:before {
    content:'\004c';
}
.icon-end-call-solid:before {
    content:'\004d';
}
.icon-dropdown-arrow:before {
    content:'\004e';
}
.icon-dialpad:before {
    content:'\004f';
}
.icon-close-options-active:before {
    content:'\0050';
}
.icon-archive-active:before {
    content:'\0052';
}
.icon-actions:before {
    content:'\0053';
}
.icon-minimize-interface:before {
    content:'\0054';
    font-size: 18px;
}
.icon-call-list-active:before {
    content:'\0055';
}
.icon-play-solid:before {
    content:'\0056';
}
.icon-ended-call:before{
    content:'\0057';
}

$font-bc: 'basier_circleregular';
$font-medium: 'InterUI-Medium';
$font-regular: 'InterUI-Regular';
$font-bold: 'InterUI-Bold';

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #dee7ed !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #99a1a3 !default;
$gray-600: #54636c;
$gray-700: #495057 !default;
$gray-800: #253137 !default;
$gray-900: #131c21 !default;
$black:    #021018 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #8c5cff !default;
$pink:    #e83e8c !default;
$red:     #f34359 !default;
$red-secondary:  #f44359 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #00E195 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;


$__body-bg: $black;
$__body-color: $white;
$__border-radius: 30px;
$__border-radius-sm: 4px;
$unable : #99a1a3;

$plugin-bg: #0a151b;
$plugin-color: $white;
$button-unactve: #76858c;
$disable: #76858c;
