html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $font-regular;
    letter-spacing: 0.2px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size: 16px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body, html {
    background-color: $__body-bg;
    color: $__body-color;
    height: 100%;
}

img {
    vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
* {
    box-sizing: border-box;
}

.heading {
    font-size: 16px;
    margin-bottom: 35px;
}


.uikit {
    padding: 35px 65px;
}


.page {

    &__screens {
        background-color: $white;
        min-height: 100%;
        padding-bottom: 100px;
        .heading {
            color: $black;
            margin: 50px 0 20px;
        }
    }
    &__panel-width {
        max-width: 270px;
    }

    &__grid-row {
        display: flex;
        width: 1230px;
        padding: 0 68px;

        .col {
            flex: 1;
            width: 33%;
            padding-right: 90px;
            &:last-child {
                padding-right: 0;
            }
        }
    }

    &__divider {
        height: 53px;
        clear: both;
    }

    &__horisontal_icon_set {
        margin-bottom: 24px;
        > * {
            margin-right: 60px;
        }
    }

    &__icons-example_wrapper {
        border-radius: $__border-radius;
        background-color: $gray-900;
        padding: 30px;
        width: 260px;
    }

    &__icons-example {
        margin-bottom: 10px;
        i {margin-right: 15px;}
    }

    &__horisontal_button_set {
        margin-bottom: 24px;
        > * {
            margin-right: 20px;
        }
    }

    &__flex {
        display: flex;

    }
}
