.tour {
    position: absolute;
    box-shadow: 0 2px 6px 0 rgba(48, 52, 54, 0.23);
    border-radius: 10px;
    z-index: 99;
    color: $gray-900;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &.left {

        .tour-content-arrow {
            left: -15px;
            top: 50%;
            transform: rotate(45deg) translateY(-50%);
        }
    }

    &.show {
        opacity: 1;
        pointer-events: initial;
        visibility: visible;
    }

    &-content {
        text-align: left;
        background-color: $white;
        border-radius: 10px;
        min-width: 375px;
        padding: 25px 20px;
        font-size: 16px;
        position: relative;
        line-height: 1.38;
        letter-spacing: -0.1px;
        &-row {
            display: flex;
            width: 100%;
        }
        &-arrow {
            position: absolute;
            left: 40px;
            top: calc(100% - 10px);
            width: 20px;
            height: 20px;
            z-index: 0;
            transform: rotate(45deg);
            background-color: $white;
            box-shadow: 0 2px 6px 0 rgba(48, 52, 54, 0.23);
        }

        > ul {
            list-style-type: none;
            margin: 10px 0;
            padding: 0;

            > li {
                position: relative;
                padding-left: 25px;
                margin: 20px 0;
                &:before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background-color: $green;
                    position: absolute;
                    left: 0;
                    top: 6px;
                }
            }
        }

        &-footer {
            margin-top: 20px;
        }
    }

    .tour-services-logo {
        width: 43px;
        margin: 25px;
    }

    /* tour typography */
    &-title {
        font-size: 20px;
        font-family: $font-bold;
        margin-bottom: 20px;
    }
    p {
        i {
            color: $green;
            font-size: 130%;

            &:before {
                vertical-align: initial;
            }
        }
    }
    .btn {
        font-size: 16px;

    }

    &__placholder {
        position: relative;
    }

    &-step-counter {
        background: url("../img/step-counter.png") no-repeat center;
        background-size: contain;
        font-size: 24px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 13px;
    }
}

.text-center { text-align: center }

.green-x2-shadow {
    box-shadow: 0 0 0 11px rgba(0,225,149,.4),
                0 0 0 23px rgba(0,225,149,.3);
}

.row {
    display: flex;
    flex-wrap: wrap;

    .col-1-2 {
        flex: 0 50%;
        width: 50%;

    }
    [class^="col-"], [class*="col-"] {
        padding: 0 8px;

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}