<div class="heading">&nbsp</div>

<div class="plugin" style="margin: 0 auto">
    @@include('./step_05.html')
    <div class="plugin-header">
        <div class="plugin-header-top">
            <div class="user">
                <div class="user-avatar">
                    <img src="img/avatar.png">
                </div>
                <div class="user-name">Slack Name</div>
            </div>
            <button class="menu-btn">
                <i class="icon-minimize-interface"></i>
            </button>
        </div>
    </div>

    <div class="call-menu-bar">
        <button>
            <i class="icon-profile"></i>
        </button>
        <button class="active">
            <i class="icon-incoming-call"></i>
        </button>
        <button>
            <i class="icon-settings"></i>
        </button>
        <button>
            <i class="icon-call-list-active"></i>
        </button>
    </div>


    <div class="plugin-dialpad">

        <div class="plugin-dialpad-number-top">
            +54 11 5984-4185
            <i class="icon-dropdown-arrow"></i>
        </div>
        <div class="plugin-dialpad-number-buttom">
            +11 4040-9430
        </div>

        <div class="plugin-dialpad-panel-wrapper">
            <div class="plugin-dialpad-panel">
                <div>
                    <button class="dlp-btn active">
                        <span class="num">1</span>
                        <span class="glyphs"></span>
                    </button>
                </div>
                <div>
                    <button class="dlp-btn">
                        <span class="num">2</span>
                        <span class="glyphs">ABC</span>
                    </button>
                </div>
                <div>
                    <button class="dlp-btn">
                        <span class="num">3</span>
                        <span class="glyphs">DEF</span>
                    </button>
                </div>
            </div>
            <div class="plugin-dialpad-panel">
                <div>
                    <button class="dlp-btn">
                        <span class="num">4</span>
                        <span class="glyphs">GHI</span>
                    </button>
                </div>
                <div>
                    <button class="dlp-btn">
                        <span class="num">5</span>
                        <span class="glyphs">JKL</span>
                    </button>
                </div>
                <div>
                    <button class="dlp-btn">
                        <span class="num">6</span>
                        <span class="glyphs">MNO</span>
                    </button>
                </div>
            </div>
            <div class="plugin-dialpad-panel">
                <div>
                    <button class="dlp-btn">
                        <span class="num">7</span>
                        <span class="glyphs">PQRS</span>
                    </button>
                </div>
                <div>
                    <button class="dlp-btn">
                        <span class="num">8</span>
                        <span class="glyphs">TUV</span>
                    </button>
                </div>
                <div>
                    <button class="dlp-btn">
                        <span class="num">9</span>
                        <span class="glyphs">WXYZ</span>
                    </button>
                </div>
            </div>
            <div class="plugin-dialpad-panel">
                <div>
                    <button class="dlp-btn dlp-btn-lg">
                        <span class="num">*</span>
                        <span class="glyphs"></span>
                    </button>
                </div>
                <div>
                    <button class="dlp-btn">
                        <span class="num">0</span>
                        <span class="glyphs"></span>
                    </button>
                </div>
                <div>
                    <button class="dlp-btn dlp-btn-lg">
                        <span class="num">#</span>
                        <span class="glyphs"></span>
                    </button>
                </div>
            </div>

            <div class="tour-disabled text-center">
                <button class="btn-rounded start-call green-x2-shadow">
                    <img src="img/incoming-call-btn.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
