<div class="tour" data-tour-step="2" style="top: 90px;left: 155px;">
    <div class="tour-content-arrow"></div>
    <div class="tour-content">
        <div class="tour-content-row">
            <div class="tour-step-counter">
                2
            </div>
            <div>
                <div class="tour-title">Add tags</div>
                <p>
                    Now, use a <i class="icon-tag"></i> to categorize
                    this voice message.
                </p>
            </div>
        </div>
        <div class="tour-content-footer">
            <button class="btn link btn-borderless"> Skip tour </button>
            <button class="btn primary float-right btn-borderless" data-go-to-tour-step="3">Next</button>
        </div>
    </div>
</div>
