<div class="tour show" style="top: 90px; left: 125px;">
    <div class="tour-content-arrow"></div>
    <div class="tour-content">
        <div class="tour-content-row">
            <div class="tour-step-counter">
                1
            </div>
            <div>
                <div class="tour-title">Luis left you a message</div>
                <p>
                    Click <i class="icon-play" ></i> to listen to <br>
                    your voice message.
                </p>
            </div>
        </div>
        <div class="tour-content-footer">
            <button class="btn link btn-borderless"> Skip tour </button>
            <button class="btn primary float-right btn-borderless" >Next</button>
        </div>
    </div>
</div>
