<div class="tour show" style="bottom: 85px;left: 110px">
    <div class="tour-content-arrow"></div>
    <div class="tour-content">
        <div class="tour-title">Not so fast!</div>
        <p>
            You will be able to call whoever you want <br>
            in a few minutes, but you first need to <br>
            make this test call :)
        </p>
    </div>
</div>
