<div class="tour show central" style="top: 50%;left: 50%;transform: translate(-50%, -50%);">
    <div class="tour-content">
        <div class="tour-title">
            To make a call, <br>
            start by adding your team.
        </div>
        <p>
            You’ll see how fast it is to build a call center.
        </p>

        <div class="row">
            <div class="col-1-2 text-center">
                <img class="tour-services-logo" src="img/google.png" alt="">
                <button class="btn btn-block primary btn-borderless" >Add with Google</button>
            </div>
            <div class="col-1-2 text-center">
                <img class="tour-services-logo" src="img/slack.png" alt="">
                <button class="btn btn-block purple btn-borderless" >Add with Slack</button>
            </div>
        </div>

    </div>
</div>
