<div class="tour" data-tour-step="3" style="top: 90px; left: 220px;">
    <div class="tour-content-arrow"></div>
    <div class="tour-content">
        <div class="tour-content-row">
            <div class="tour-step-counter">
                3
            </div>
            <div>
                <div class="tour-title">Label your calls</div>
                <p>
                    Add some notes <i class="icon-send"></i> to the call so <br>
                    you can prepare the next steps.
                </p>
            </div>
        </div>
        <div class="tour-content-footer">
            <button class="btn link btn-borderless"> Skip tour </button>
            <button class="btn primary float-right btn-borderless" data-go-to-tour-step="4">Next</button>
        </div>
    </div>
</div>
