<div class="tour left" data-tour-step="4" style="left: 146px;top: 0px;">
    <div class="tour-content-arrow"></div>
    <div class="tour-content">
        <div class="tour-content-row">
            <div class="tour-step-counter">
                4
            </div>
            <div>
                <div class="tour-title">Add your team</div>
                <p>
                    You are one step away from
                    making a call
                </p>
            </div>
        </div>
        <div class="tour-content-footer">
            <button class="btn link btn-borderless">Skip tour</button>
            <button class="btn primary float-right btn-borderless" data-finish-tour>Next</button>
        </div>
    </div>
</div>
