<div class="heading">Minimized version</div>

<div class="plugin small">
    <div class="plugin-header">
        <div class="plugin-header-top">
            <div class="user">
                <div class="user-avatar">
                    <img src="img/avatar.png">
                </div>
                <div class="user-name">Slack Name</div>
            </div>
            <button class="menu-btn">
                <i class="icon-minimize-interface"></i>
            </button>
        </div>
        <div class="plugin-header-bottom">
            <div class="time">
                02:45
            </div>
        </div>
    </div>

    <div class="call-menu-bar">
        <button class="active">
            <i class="icon-profile"></i>
        </button>
        <button>
            <i class="icon-incoming-call"></i>
        </button>
        <button>
            <i class="icon-settings"></i>
        </button>
        <button>
            <i class="icon-call-list-active"></i>
        </button>
    </div>
</div>


<div class="heading">Incoming call</div>

<div class="plugin small">
    <div class="plugin-header row">
        <div>
            <div class="plugin-header-top">
                <div class="user">
                    <div class="user-avatar">
                        <img src="img/avatar.png">
                    </div>
                    <div class="user-name">Slack Name</div>
                </div>
            </div>
            <div class="plugin-header-bottom">
                Incoming call…
            </div>
        </div>
        <div class="call-action">
            <button class="btn-rounded start-call">
                <img src="img/incoming-call-btn.svg" alt="">
            </button>
            <button class="btn-rounded end-call">
                <img src="img/end-call-btn.svg" alt="">
            </button>
        </div>
    </div>
</div>



<div class="heading">During Call</div>

<div class="plugin small">
    <div class="plugin-header">
        <div class="plugin-header-top">
            <div class="user">
                <div class="user-avatar">
                    <img src="img/avatar.png">
                </div>
                <div class="user-name">Slack Name</div>
            </div>
            <button class="menu-btn">
                <i class="icon-minimize-interface"></i>
            </button>
        </div>
        <div class="plugin-header-bottom larger">
            <div class="number">
                +11 4040-9430
            </div>
            <div class="duration">
                03:45
            </div>
        </div>
    </div>

    <div class="call-menu-bar">
        <button>
            <i class="icon-profile"></i>
        </button>
        <button class="active">
            <i class="icon-incoming-call"></i>
        </button>
        <button>
            <i class="icon-settings"></i>
        </button>
        <button>
            <i class="icon-call-list-active"></i>
        </button>
        <button class="btn-rounded end-call">
            <img src="img/end-call-btn.svg" alt="">
        </button>
    </div>
</div>