<div class="heading">Team</div>

<div class="plugin">
    <div class="plugin-header">
        <div class="plugin-header-top">
            <div class="user">
                <div class="user-avatar">
                    <img src="img/avatar.png">
                </div>
                <div class="user-name">Slack Name</div>
            </div>
            <button class="menu-btn">
                <i class="icon-minimize-interface"></i>
            </button>
        </div>
    </div>

    <div class="call-menu-bar">
        <button class="active">
            <i class="icon-profile"></i>
        </button>
        <button>
            <i class="icon-incoming-call"></i>
        </button>
        <button>
            <i class="icon-settings"></i>
        </button>
        <button>
            <i class="icon-call-list-active"></i>
        </button>
    </div>

    <div class="users-availability">
        2 online / 4 total users
    </div>

    <div class="users-list">
        <table class="table">
            <tr class="user-status--online">
                <td class="availability">
                    <div class="status-icon"></div>
                </td>
                <td>
                    @Nicolas Prieto
                </td>
                <td class="call-status">
                    Ready to call
                </td>
            </tr>
            <tr class="user-status--busy">
                <td class="availability">
                    <div class="status-icon"></div>
                </td>
                <td class="name">
                    @Alejandro
                </td>
                <td class="call-status">
                    Busy
                </td>
            </tr>
            <tr class="user-status--online">
                <td class="availability">
                    <div class="status-icon"></div>
                </td>
                <td>
                    @Luis
                </td>
                <td class="call-status">
                    Ready to call
                </td>
            </tr>
            <tr class="user-status--offline">
                <td class="availability">
                    <div class="status-icon"></div>
                </td>
                <td>
                    @John
                </td>
                <td class="call-status">
                    Offline
                </td>
            </tr>
        </table>
    </div>
</div>