<div class="heading">Settings</div>


<div class="plugin bottom-bar">
    <div class="plugin-header">
        <div class="plugin-header-top">
            <div class="user">
                <div class="user-avatar">
                    <img src="img/avatar.png">
                </div>
                <div class="user-name">Slack Name</div>
            </div>
            <button class="menu-btn">
                <i class="icon-minimize-interface"></i>
            </button>
        </div>
    </div>

    <div class="call-menu-bar">
        <button class="active">
            <i class="icon-profile"></i>
        </button>
        <button>
            <i class="icon-incoming-call"></i>
        </button>
        <button>
            <i class="icon-settings"></i>
        </button>
        <button>
            <i class="icon-call-list-active"></i>
        </button>
    </div>

    <div class="app-settings">
        <div>
            <div class="app-settings--label">Ring Device</div>
            <button class="btn btn-dropdown">
                Dropdown <i class="icon-dropdown-arrow"></i>
            </button>
        </div>
        <div>
            <div class="app-settings--label">Silent call notifications</div>
            <div class="setting-status disable"></div>
        </div>
        <div>
            <div class="app-settings--label">Sticky call Notifications</div>
            <div class="setting-status active"></div>
        </div>
        <div>
            <div class="app-settings--label">Secondary Line</div>
            <button class="btn btn-dropdown">
                None <i class="icon-dropdown-arrow"></i>
            </button>
        </div>
    </div>

    <div class="abs-bt-bar">
        <div class="plugin-panel">
            <button class="btn btn-lg btn-block btn-prime">Sign Out Ottspott</button>
        </div>
    </div>

</div>
