<div class="heading">Call actions</div>

<div class="plugin">
    <div class="plugin-header">
        <div class="plugin-header-top">
            <div class="user">
                <div class="user-avatar">
                    <img src="img/avatar.png">
                </div>
                <div class="user-name">Slack Name</div>
            </div>
            <button class="menu-btn">
                <i class="icon-minimize-interface"></i>
            </button>
        </div>
    </div>

    <div class="call-menu-bar">
        <button class="active">
            <i class="icon-profile"></i>
        </button>
        <button>
            <i class="icon-incoming-call"></i>
        </button>
        <button>
            <i class="icon-settings"></i>
        </button>
        <button>
            <i class="icon-call-list-active"></i>
        </button>
    </div>

    <div class="users-availability">
        0 Active Calls / 2 Calls Today
    </div>

    <div class="users-list">
        <table class="table">
            <tr>
                <td class="availability">
                    <div class="icon action"><i class="icon-incoming-call"></i></div>
                </td>
                <td colspan="2">
                    @Nicolas Prieto
                    <div class="additional-call-info">
                        <div class="abonent-info">
                            <img class="ic" src="img/buttom-right.svg"> 542615067333
                        </div>
                        <div class="bottom">
                            1 hour ago via +54 11 5984-4185
                        </div>
                    </div>
                    
                </td>
                <td class="call-action">
                    <div class="icon unable"><i class="icon-actions"></i></div>
                </td>
            </tr>

            <tr>
                <td class="availability">
                    <div class="icon unable"><i class="icon-ended-call"></i></div>
                </td>
                <td class="name">
                    542615067333
                </td>
                <td class="text-right">
                    @Luis
                </td>
                <td class="call-action">
                    <div class="icon unable"><i class="icon-actions"></i></div>
                </td>
            </tr>
            <tr class="dis">
                <td class="availability">
                    <div class="icon action"><i class="icon-outgoing-call"></i></div>
                </td>
                <td>
                    @John
                </td>
                <td class="text-right">
                    542615067333
                </td>
                <td class="call-action">
                    <div class="icon unable"><i class="icon-actions"></i></div>
                </td>
            </tr>
            <tr class="dis">
                <td class="availability">
                    <div class="icon blue"><i class="icon-voicemail"></i></div>
                </td>
                <td>
                    @John
                </td>
                <td class="text-right">
                    542615067333
                </td>
                <td class="call-action">
                    <div class="icon unable"><i class="icon-actions"></i></div>
                </td>
            </tr>
        </table>
    </div>
</div>