<div class="heading">Add label Popup</div>

<div class="plugin">
    <div class="plugin-header">
        <div class="plugin-header-top">
            <div class="user">
                <div class="user-avatar">
                    <img src="img/avatar.png">
                </div>
                <div class="user-name">Slack Name</div>
            </div>
            <button class="menu-btn">
                <i class="icon-minimize-interface"></i>
            </button>
        </div>
    </div>

    <div class="call-menu-bar">
        <button class="active">
            <i class="icon-profile"></i>
        </button>
        <button>
            <i class="icon-incoming-call"></i>
        </button>
        <button>
            <i class="icon-settings"></i>
        </button>
        <button>
            <i class="icon-call-list-active"></i>
        </button>
    </div>

    <div class="users-availability">
        0 Active Calls / 2 Calls Today
    </div>

    <div class="users-list">
        <table class="table">
            <tr>
                <td class="availability">
                    <div class="icon action"><i class="icon-incoming-call"></i></div>
                </td>
                <td colspan="2">
                    @Nicolas Prieto
                    <div class="additional-call-info">
                        <div class="abonent-info">
                            <img class="ic" src="img/buttom-right.svg"> 542615067333
                        </div>
                        <div class="bottom">
                            1 hour ago via +54 11 5984-4185
                        </div>
                    </div>

                </td>
                <td class="call-action">
                    <div class="icon unable"><i class="icon-actions"></i></div>
                </td>
            </tr>

            <tr>
                <td class="availability">
                    <div class="icon blue"><i class="icon-voicemail"></i></div>
                </td>
                <td>
                    @Alejandro
                </td>
                <td colspan="2">
                    <div class="panel">
                        <button class="icon unactive"><i class="icon-play"></i></button>
                        <button class="icon"><i class="icon-tag"></i></button>
                        <button class="icon unactive"><i class="icon-archive-active"></i></button>
                        <button class="icon unactive"><i class="icon-send"></i></button>
                        <button class="icon unactive"><i class="icon-close-options-active"></i></button>
                    </div>
                </td>
            </tr>

            <tr class="message-row">
                <td colspan="4">
                    <div class="message-wrapper">
                        <div class="btn-wr">
                            <button class="btn btn-dropdown btn-block">
                                Sales <i class="icon-dropdown-arrow"></i>
                            </button>
                        </div>
                        <div class="text-right">
                            <button class="btn">Save</button>
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="dis">
                <td class="availability">
                    <div class="icon cancel"><i class="icon-outgoing-call"></i></div>
                </td>
                <td>
                    @John
                </td>
                <td class="text-right">
                    542615067333
                </td>
                <td class="call-action">
                    <div class="icon unable"><i class="icon-actions"></i></div>
                </td>
            </tr>

            <tr class="dis">
                <td class="availability">
                    <div class="icon"><img src="img/record-icon.svg" alt=""></div>
                </td>
                <td>
                    @John
                </td>
                <td class="text-right">
                    542615067333
                </td>
                <td class="call-action">
                    <div class="icon unable"><i class="icon-actions"></i></div>
                </td>
            </tr>
        </table>
    </div>
</div>