<div class="heading">Transfer call</div>

<div class="plugin">
    <div class="plugin-header">
        <div class="plugin-header-top">
            <div class="user">
                <div class="user-avatar">
                    <img src="img/avatar.png">
                </div>
                <div class="user-name">Slack Name</div>
            </div>
            <button class="menu-btn">
                <i class="icon-minimize-interface"></i>
            </button>
        </div>
    </div>

    <div class="call-menu-bar">
        <button>
            <i class="icon-profile"></i>
        </button>
        <button class="active">
            <i class="icon-incoming-call"></i>
        </button>
        <button>
            <i class="icon-settings"></i>
        </button>
        <button>
            <i class="icon-call-list-active"></i>
        </button>
    </div>


    <div class="during-call-number">
        +11 4040-9430
    </div>

    <div class="wrapper-mid">
        <div class="message message-lg">
            <b>@Nicolas Prieto</b> <br>
            Could you please pick this call?
        </div>

        <div class="text-right">
            <button class="btn btn-borderless">Cancel</button>
            <button class="btn ">Transfer Call</button>
        </div>
    </div>

    <div class="call-progress-action">
        <div class="phone-panel">
            <button><i class="icon-mute"></i></button>
            <button><i class="icon-dialpad"></i></button>
            <button><i class="icon-transfer"></i></button>
            <button><img src="img/end-call-btn.svg"></button>
        </div>
    </div>

</div>