.audio-player {
    background-color: $gray-900;
    padding: 9px 10px;
    display: flex;
    align-items: center;
    border-radius: $__border-radius-sm;

    .play {
        background-color: transparent;
        border: none;
        color: $white;
        padding: 0;
        margin: 0;
        outline: none;
    }
    .progress {
        height: 3px;
        background-color: $gray-600;
        width: 100%;
        margin: 0 10px;
        position: relative;

        &-current {
            background-color: $gray-200;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .time {
        line-height: 1;
    }
}