.btn-rounded {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: none;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
}

.icon {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;

    &.block {
        display: block;
    }

    [class*='icon-']{
        vertical-align: middle;
        display: block;
    }

    &.action { color: $green }
    &.cancel { color: $red }
    &.blue { color: $blue }
    &.unable { color: $unable ; }
    &.accent {
        &:after {
            content: '';
            width: 4px;
            height: 4px;
            background-color: $red;
            border-radius: 4px;
            position: absolute;
            bottom: -10px;
            left: 50%;
            margin-left: -2px;
        }
    }

    &.unactive {
        opacity: .7;
    }
}

.btn {
    border: solid 1px #868d91;
    font-size: 14px;
    color: $white;
    background-color: transparent;
    padding: 10px;
    min-width: 115px;
    border-radius: $__border-radius-sm;
    cursor: pointer;
    outline: none;

    &-dropdown {
        background-color: $gray-800;
        border-color: $gray-800;
        text-align: left;
        > i {
            font-size: 10px;
            margin-left: 10px;
            display: inline-flex;
            float: right;
            margin: 4px 0;
        }
    }

    &-lg {
        padding: 15px 25px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.2px;
    }

    &-block {
        width: 100%;
    }

    &-prime {
        background-color: $red-secondary;
        border-color: $red-secondary;
    }
    &-borderless {
        border: none;
    }
    &.link {
        color: $gray-500;
        padding-left: 0;
        padding-right: 0;
        min-width: initial;
        text-decoration: underline;
    }
    &.important {
        background-color: $red;
    }
    &.primary {
        background-color: $blue;
    }
    &.purple {
        background-color: $purple;
    }
    &.block { display: block; width: 100%; }
    &.float-right { float: right }
}
.btn-wr {
    margin-bottom: 10px;
}

.dlp-btn {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    transition: .2s;
    position: relative;
    background-color: transparent;
    color: $white;
    border: none;
    text-align: center;
    outline: none;
    cursor: pointer;

    &:hover, &:active, &.active {
        background-color: #1f272b;
        //.glyphs { opacity: 0 }
    }

    &-lg {
        font-size: 40px;
    }

    .num {
        font-size: 29px;
        line-height: 1;
    }
    .glyphs {
        opacity: 1;
        transition: .2s;
        font-size: 10px;
        color: $disable;
        display: block;
    }
}