.phone-panel {
    padding: 9px 12px;
    background-color: $gray-900;
    border-radius: 30px;
    //width: 268px;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > button {
        background-color: transparent;
        border: none;
        min-width: 40px;
        text-align: center;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 24px;
        outline: none;
        cursor: pointer;
    }

    &.phone-panel__disable {
        > button {
            color: rgba($white, 0.7);
        }
    }
}

.panel {
    &-small {
        margin: 18px 0;
    }
    &-middle-2 {
        margin: 30px 0;
    }
    &-middle {
        margin: 40px 0;
    }
    .icon {
        padding: 0 3px;
    }
}
