.abonent-view {
    padding: 50px 20px 75px 20px;
    text-align: center;

    &-name {
        font-size: 19px;
        margin: 15px 0;
    }

    &-number {
        font-size: 26px;
        margin: 15px 0;
    }

    &-progress {
        color: $disable;
        font-size: 16px;
        margin-bottom: 30px;
        margin-top: 25px;
    }

    &-tech {
        img {
            margin: 0 10px;
        }
    }
}