.plugin {
    background-color: $plugin-bg;
    color: $white;
    border-radius: 6px;
    width: 320px;
    height: 580px;
    font-size: 14px;
    box-sizing: border-box;
    position: relative;

    .plugin-disabled-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background-color: rgba($black, .8);
        z-index: 9;
    }

    &.bottom-bar {
        padding-bottom: 80px;
        .abs-bt-bar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }

    &.small {
        height: auto;
    }

    &-header {
        padding: 17px;
        &.row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-bottom {
            padding: 4px 0 0 35px;
            color: #76858C;
            font-size: 14px;
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            .number {
                float: left;
            }
            .duration {
                float: right;
            }
        }

        .menu-btn {
            color: #76858c;
            background-color: transparent;
            border: none;
            outline: none;
            transition: .3s;
            cursor: pointer;
            border-radius: 3px;

            &:hover, &:active {
                color: #fff;
                background-color: $gray-900;
            }
        }
    }
    &-panel {
        padding: 16px;
    }
    .larger {
        font-size: 16px;
    }
    .user {
        display: flex;
        align-items: center;

        &-avatar {
            width: 26px;
            height: 26px;
            border-radius: 5px;
            overflow: hidden;
            margin-right: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-name {
            font-size: 16px;
        }
    }

    .call-action {
        button {
            margin: 0 5px;
            float: left;
            &:last-child { margin-right: 0 }
            &:first-child { margin-left: 0 }

        }
    }

    .call-menu-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px;

        > button {
            background: transparent;
            border: none;
            color: $button-unactve;
            font-size: 24px;
            outline: none;
            transition: .2s;
            cursor: pointer;
            border-radius: 100%;
            position: relative;
            &.active {
                color: $white;
                position: relative;
                &:after {
                    content: '';
                    width: 4px;
                    height: 4px;
                    background-color: $red;
                    border-radius: 100%;
                    position: absolute;
                    bottom: -7px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            &:active,
            &:hover {
                color: $white;
            }
        }
    }

    .users-availability {
        text-align: center;
        font-size: 16px;
        padding: 25px;
    }
}


.plugin {
    .app-settings {
        margin: 30px 0;
        > div {
            padding: 8px 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .setting-status {
            width: 8px;
            height: 8px;
            border-radius: 8px;
            margin: 10px;

            &.active {
                background-color: $green;
            }
            &.disable {
                background-color: $red;
            }
        }
    }

    .text-right {
        text-align: right;
    }
    .message-wrapper {
        padding-left: 30px;
    }
    .message {
        background-color: #D2D7D9;
        border-radius: 4px;
        padding: 10px 8px;
        color: $black;
        font-size: 14px;
        min-height: 85px;
        margin-bottom: 8px;
        line-height: 1.43;
        &-lg {
            min-height: 209px;
        }
    }
    .call-progress-action {
        padding: 0 20px;
    }
    .during-call-number {
        text-align: center;
        font-size: 26px;
        margin: 12px 0;
    }
    .wrapper-mid {
        padding: 20px;
    }
}