.plugin-dialpad {
    padding: 20px 40px;

    &-panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        > div {
            margin: 7px 0;
        }
    }



    &-number-top,
    &-number-buttom {
        margin: 15px 0;
        text-align: center;
    }

    &-number-top {
        color: #2DAFFF;
        font-size: 16px;
        i {
            color: $disable;
            font-size: 10px;
        }
    }
    &-number-buttom {
        color: $white;
        font-size: 29px;
    }
}

.phone-plugin-panel {
    padding: 20px 40px;
}