.users-list {

    .user-status {
        &--online {
            .status-icon {
                background-color: $green;
            }
        }
        &--offline {
            .status-icon {
                background-color: $disable;
            }
        }
        &--busy {
            .status-icon {
                background-color: $red;
            }
            .name {
                color: $disable;
            }
        }
    }

    .status-icon {
        width: 8px;
        height: 8px;
        border-radius: 8px;
    }

    table {
        width: 100%;

        tr {
            border-top: 1px solid #1f272a;

            &.dis {
                color: $disable
            }

            &.message-row {
                border: none;
                padding-top: 0;
                td {
                    padding-right: 10px;
                    padding: 0;
                    padding-bottom: 15px;
                }
            }
            td {
                padding-top: 15px;
                padding-bottom: 15px;

                &:first-child {
                    padding-left: 20px;
                }
                &:first-child {
                    padding-right: 20px;
                }
                &:last-child {
                    padding-right: 10px;
                    .panel { text-align: right; }
                }
                &.availability {
                    padding-right: 8px;
                    vertical-align: top;
                }
                &.call-status {
                    color: #99a1a3;
                }
                &.call-action {
                    padding: 0 13px 0 24px;
                }
            }
        }
    }

    .additional-call-info {
        color: $disable;
        .bottom {
            font-size: 12px;
        }
        > div {
            margin: 5px 0;
        }
        .abonent-info {
            font-size: 14px;
            margin-top: 10px;
            .ic {
                width: 15px;
                position: relative;
                bottom: 4px;
            }
        }
    }
}