<div class="plugin-dialpad-panel-wrapper">
    <div class="plugin-dialpad-panel">
        <div>
            <button class="dlp-btn active">
                <span class="num">1</span>
                <span class="glyphs"></span>
            </button>
        </div>
        <div>
            <button class="dlp-btn">
                <span class="num">2</span>
                <span class="glyphs">ABC</span>
            </button>
        </div>
        <div>
            <button class="dlp-btn">
                <span class="num">3</span>
                <span class="glyphs">DEF</span>
            </button>
        </div>
    </div>
    <div class="plugin-dialpad-panel">
        <div>
            <button class="dlp-btn">
                <span class="num">4</span>
                <span class="glyphs">GHI</span>
            </button>
        </div>
        <div>
            <button class="dlp-btn">
                <span class="num">5</span>
                <span class="glyphs">JKL</span>
            </button>
        </div>
        <div>
            <button class="dlp-btn">
                <span class="num">6</span>
                <span class="glyphs">MNO</span>
            </button>
        </div>
    </div>
    <div class="plugin-dialpad-panel">
        <div>
            <button class="dlp-btn">
                <span class="num">7</span>
                <span class="glyphs">PQRS</span>
            </button>
        </div>
        <div>
            <button class="dlp-btn">
                <span class="num">8</span>
                <span class="glyphs">TUV</span>
            </button>
        </div>
        <div>
            <button class="dlp-btn">
                <span class="num">9</span>
                <span class="glyphs">WXYZ</span>
            </button>
        </div>
    </div>
    <div class="plugin-dialpad-panel">
        <div>
            <button class="dlp-btn dlp-btn-lg">
                <span class="num">*</span>
                <span class="glyphs"></span>
            </button>
        </div>
        <div>
            <button class="dlp-btn">
                <span class="num">0</span>
                <span class="glyphs"></span>
            </button>
        </div>
        <div>
            <button class="dlp-btn dlp-btn-lg">
                <span class="num">#</span>
                <span class="glyphs"></span>
            </button>
        </div>
    </div>
</div>